.contenedor{
  margin-left: auto;
  margin-right: auto;
}

.formulario{
  padding: 50px;
  border-style: solid;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  border-color: #4CAF50;
  background-color: #FFE186;
}

.fondo-registro {
  background-image: url(fondo.jpeg);
}

#envio:hover {
  color: white;
  background-color: #4CAF50;
  border-radius: 6px;
}
