.header {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  text-align: left;
  background: #ffbf00;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px #000000;
}

.p1.header {
	text-align: center;
}

.formulario{
  padding: 50px;
  border-style: solid;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  border-color: #4CAF50;
  background-color: #FFE186;
}

.footer {
  padding: 10px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: left;
  border-radius: 15px;
}

body {
  background-image: url(pexels-photo-3184340.jpeg);
}

a{
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffbf00;
}

#envio:hover {
  color: white;
  background-color: #4CAF50;
  border-radius: 6px;
}